<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>$homepage: Search</title>
    <link rel="stylesheet" href="/~rrt/template/style.css" type="text/css" />
  </head>

  <body>
    <table cellpadding="3">
      <tr>
        <td valign="top" class="nav">
$include{nav.htm}
        </td>
        <td valign="top">
          <h1>$include{found.txt} &quot;$pagename&quot;</h1>
          <ul>
            $text
          </ul>
        </td>
      </tr>
    </table>
  </body>

</html>
